body {
  background: #333;
}

.box {
  background: white;
  width: 200px;
  height: 200px;
  position: relative;
  animation-name: myanimation3;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /* animation-delay: 2s; */
  /* animation-direction: alternate; */
  /* animation-timing-function: ease-in-out; */
}
.box2 {
  background: black;
  width: 200px;
  height: 200px;
  position: relative;
  animation-name: myanimation3;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}



@keyframes myanimation3 {
  0% {background-color: black; border-radius: 0 0 0 0;}
  25% {background-color: white;  border-radius: 50% 0 0 0;}
  50% {background-color: black; border-radius: 50% 50% 0 0}
  75% {background-color: white;  border-radius: 50% 50% 50% 0;}
  100% {background-color: black; border-radius: 50% 50% 50% 50%;}
}